// Place all the styles related to the shoe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  // * {
  //   border: 1px solid black;
  // }

.shoe1 {
  font-family: 'Satisfy', cursive;
  width: 100%;
  text-align: center;
  color: black;
  margin-top: auto;
}

.fit {
  font-family: 'Shadows Into Light', cursive;

}
img {
  width: 100%;
}

.column {
  font-family: 'Shadows Into Light', cursive;
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

body > div.row {
      // margin-left: 20px;
      width: 70%;
      margin: auto;
}
